.heroBgFlower {
    border-top: 15px solid $c-pr;
    padding: 40px 0;
    background-image: url("../../../../public/storage/img/bg.jpg");
    background-size: cover;
    text-align: center;

    .cerchio{
        background-color: #fff;
        border-radius: 100%;
        width: 90%;
        height: auto;
        max-height: 290px;
        max-width: 290px;
        margin: auto;
        box-shadow: 0px 0px 30px #DCE0E6;
        display: flex;
        justify-content: center;
        align-items: center;

        
          
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }


        @include screen(xl) {
            max-height: 350px;
            max-width: 350px;
        }

        .icona {
            height: 60px;

            @include screen(xl) {
                height: 70px;
            }
        }

        p {
            margin: 5px 0 10px;
            font-weight: $fwLight;
            font-size: 15px;

            @include screen(xl) {
                margin: 7px 0 10px;
                font-size: 17px;
            }
        }

        h1 {
            @include screen(xl) {
                font-size: 80px;
            }
        }
    }
}

