@import url(https://fonts.googleapis.com/css?family=Nunito);
h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 70px;
  line-height: 0.9;
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121F38;
  font-family: "Montserrat", sans-serif;
}

.mycontainer {
  width: 90%;
  margin: auto;
}
.mycontainer.container-m {
  max-width: 500px;
}
@media screen and (min-width: 801px) {
  .mycontainer.container-m {
    max-width: 1000px;
  }
}

.heroBgFlower {
  border-top: 15px solid #EDF5F7;
  padding: 40px 0;
  background-image: url(/images/bg.jpg?79ce9e6114dc81ab71222ec0cd278671);
  background-size: cover;
  text-align: center;
}
.heroBgFlower .cerchio {
  background-color: #fff;
  border-radius: 100%;
  width: 90%;
  height: auto;
  max-height: 290px;
  max-width: 290px;
  margin: auto;
  box-shadow: 0px 0px 30px #DCE0E6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroBgFlower .cerchio:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media screen and (min-width: 801px) {
  .heroBgFlower .cerchio {
    max-height: 350px;
    max-width: 350px;
  }
}
.heroBgFlower .cerchio .icona {
  height: 60px;
}
@media screen and (min-width: 801px) {
  .heroBgFlower .cerchio .icona {
    height: 70px;
  }
}
.heroBgFlower .cerchio p {
  margin: 5px 0 10px;
  font-weight: 300;
  font-size: 15px;
}
@media screen and (min-width: 801px) {
  .heroBgFlower .cerchio p {
    margin: 7px 0 10px;
    font-size: 17px;
  }
}
@media screen and (min-width: 801px) {
  .heroBgFlower .cerchio h1 {
    font-size: 80px;
  }
}

footer {
  background-color: #F3E0D6;
}
footer .mycontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .mycontainer > div {
  display: flex;
  align-items: center;
}
footer .footer__sposi {
  height: 30px;
  fill: #121F38;
  padding: 10px 0;
}
footer p {
  font-weight: 400;
  font-size: 13px;
  margin: 0 7px;
}
