body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $c-f;
    font-family: $ffpri;
}

.mycontainer{
    width: 80%;
    margin: auto;

    &.container-m{
        max-width: 500px;

        @include screen(xl) {
            max-width: 800px;
        }
    }

    &.container-l{
        @include screen(xl) {
            max-width: 1100px;
        }
    }
}

.divider {
    background-image: url("/storage/img/bg.jpg");
    background-size: cover;
    
    &__small{
        height: 35px;
    }
    &__med{
        height: 75px;
    }

    &__lg{
        height: 114px;
    }
}
