body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $c-f;
    font-family: $ffpri;
}

.mycontainer{
    width: 80%;
    margin: auto;

    &.container-m{
        max-width: 500px;

        @include screen(xl) {
            max-width: 800px;
        }
    }

    &.container-l{
        @include screen(xl) {
            max-width: 1100px;
        }
    }
}