header{
    border-bottom: 15px solid $c-pr;
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;

        @include screen(xxl) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .nav__left{
            display: flex;
            justify-content: space-between;
            padding: 11px 0;
            align-items: center;

            .nav__title {
                font-family: $ffsec;
                font-size: 25px;
            }

            #burger{
                height: 18px;

                @include screen(xxl) {
                    display: none;
                }
            }
        }

        #nav__right {
           display: none;

           @include screen(xxl) {
                display: block;
            }

            ul {
                list-style: none;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                
                @include screen(xxl) {
                    margin: 0;
                }

                li {
                    margin: 0;
                    width: 100%;

                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 15px 0;
                        

                        span {
                            position: relative;
                        }

                        &.active span::after,
                        &:hover span::after {
                            content: '';
                            background-color: $c-pr;
                            height: 12px;
                            position: absolute;
                            z-index: -10;
                            top: 10px;
                            right: -12px;
                            left: -12px;
                        }
                    }

                    @include screen(xxl) {
                        display: inline-block;
                        width: auto;
                        margin: 0 20px;
                    }
                }
            }
        }

        #nav__right.active {
            display: block;
        }
    }
}