header{
    border-bottom: 15px solid $c-pr;
    nav{
        display: flex;
        flex-direction: column;

        .nav__left{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            align-items: center;

            .nav__title {
                font-family: $ffsec;
                font-size: 25px;
            }

            #burger{
                height: 18px;
            }
        }

        #nav__right {
            display: none;
        }

        #nav__right.active {
            display: block;
        }
    }
}