.regalo__box{
    margin-top: 40px;
    padding: 35px 25px;
    background-color: #fff;
    text-align: left;
    
    @include screen(xxl) {
        display: flex;
        justify-content: space-between;
    }

    .regalo__box__column {
        &:not(:last-of-type) {
            margin-bottom: 10px;

            @include screen(xxl) {
                margin-bottom: 0;
            }
        }
        @include screen(xxl) {
            flex-basis: calc( ( 100% - 60px) / 3);
        }
    }

    h5{
        font-size: 10px;
        font-weight: $fwMed;
        font-family: $ffpri;
        margin: 0;
    }

    p{
        font-size: 12px;

        @include screen(m) {
            font-size: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}



