section{
    padding: 45px 0;
    text-align: center;

    .section{
        &__fiore {
            height: 20px;
        }

        &__titolo {
            margin: 0 0 25px;
            text-transform: lowercase;
        }

        &__cuore {
            height: 12px;
            margin-top: 30px;
            
        }

        &__box__wrapper {
            display: flex;
            flex-direction: column;

            @include screen(xl) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
        
        &__box {
            padding: 30px;
            background-color: #fff;

            

            &:not(:last-child){
                margin-bottom: 30px; 

                @include screen(xl) {
                    margin-bottom: 0; 
                }
            }

            @include screen(xl) {
                flex-basis: calc((100% - 240px) / 3);
            }
            

            p {
                font-size: 14px;
                line-height: 1.3;
            }

            

            &__icona {
                height: 60px;                
            }
            
        }

    }

    
}