h1, h2, h4 {
    font-family: $ffsec;
    font-weight: $fwReg;
}

h1 {
    font-size: 70px;
    line-height: .9;
    margin: 0;
}

h2 {
    font-size: 45px;
    line-height: 1.1;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0 20px;

    &.h3--secfont{
        font-family: $ffsec;
        font-weight: $fwReg;
        font-size: 45px;
    }
}

h4 {
    font-size: 35px;
    margin: 0 0 15px;
    text-transform: lowercase;
}
h5 {
    font-size: 15px;
    font-weight: $fwMed;
    color: $c-sec;
    margin: 8px 0 0;
}

p {
    margin: 0;
    font-weight: $fwLight;
    font-size: 16px;
    line-height: 1.5;

    strong{
        font-weight: $fwBold;
    }
}

a {
    text-decoration: none;
    color: $c-f;
}