.viaggio {
    p.viaggio__title,
    h1 {
        display: inline-block;
    }

    p.viaggio__title {
        font-family: $ffsec;
        font-weight: $fwReg;
        font-size: 140px !important;
        margin-right: 15px !important;
        color: $c-sec;

        @include screen(xl) {
            font-size: 160px !important;
        }

        &::after {
            content: 'x';
            font-size: 50px;
            vertical-align: middle;

            @include screen(xl) {
                font-size: 60px;
            }
        }
    }

    &__caption__wrp {
        display: flex;
        align-items: center;
    }
}

.sec__box{
    display: inline-block;
    background-color: $c-sec-Light;
    padding: 25px;
    margin: 40px 0;
}

.tappa {
    &__wrp {
        @include screen(xl) {
            display: flex;
        } 
    }
    &__wrp:nth-child(3n+1) {
        @include screen(xl) {
            flex-direction: row-reverse;


            .tappa__box {
                @include screen(xl) {
                    margin-left: 20px;
                    margin-right: 0px;
                } 
            }
        } 
    }
    &__box {
        text-align: left;
        padding: 45px 35px;
        margin: 10px 0;  
        
        @include screen(xl) {
            flex-basis: 60%;
            margin-right: 20px;
        }  
    }
    
    &__date {
        font-family: $ffsec;
        font-size: 20px;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: $fwMed;
        margin-bottom: 20px;
    }

    &__text p:not(:last-child) {
        margin-bottom: 12px;
    }

    &__img {
        height: 200px;
        background-size: cover;
        background-position: center;

        &.roma {
            background-image: url("/storage/img/foto/roma.jpg");
        }
        &.napoli {
            background-image: url("/storage/img/foto/pompei.jpg");
        }
        &.vigolana {
            background-image: url("/storage/img/foto/vigolana.jpg");
        }

        @include screen(xl) {
            height: auto;
            flex-basis: 40%;
            margin: 10px 0
        }  
    }
}